.container_details {
  width: 100%;
  display: flex;

  & .proyect_details {
    max-width: 800px;
    max-height: 400px;
  }
  & .image_proyect {
    max-width: 800px;
    max-height: 400px;
    object-fit: contain;
    aspect-ratio: 2/1;
  }

  & .tecnology_container {
    max-width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    gap: 10px;
    padding: 1rem;

    border-radius: 1rem;
  }

  & .tecnology {
    min-width: 64px;
    min-height: 64px;
    box-shadow: inset 0px 10px 20px 0px rgba(72, 66, 66, 0.885);
    transition: 0.4s ease-in-out;
    backdrop-filter: blur(7px) saturate(94%);
    -webkit-backdrop-filter: blur(7px) saturate(94%);

    background-color: rgba(236, 239, 243, 0.34);
    border-radius: 10px;
    padding: 5px;
  }

  & .logros_container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    border-radius: 1rem;
    padding: 1rem;
  }
  & .proyect_image {
    border-radius: 1rem;
    padding: 1rem;
  }

  & .container_description {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    border-radius: 1rem;
    padding: 1rem;
  }

  @media (width<600px) {
    flex-direction: column;
    width: 100%;
    /*   padding: 10px; */

    .image_proyect {
      width: 350px;

      object-fit: contain;
    }
  }
}

.container_buttons {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;

}

@media(width<600px){
  .container_buttons {
   
    flex-direction: column;
    
  }
}


